body { background-color:#fff;}

/* GENERAL THEME */
a { color:#c12222;}
#colorbox #cboxContent { background:#fff; color:#333;}

/* ALL ICON CAMERA - no-image */
.mini-cart-info .product .no-image { color:#efefef;}
.grid-item .image-content .no-image i { color:#efefef;}
.list-item .image-content .no-image i { color:#efefef;}
.grid-latest .no-image i { color:#efefef;}
.list-best .top .no-image i { color:#efefef;}
.quickview .no-image i { color:#efefef;}
.cart-info tbody .image .no-image { color:#efefef;}
.compare-page .compare-info .image i { color:#efefef;}
.mini-cart-info .voucher .voucher_gift { color:#efefef;}
.gallery-product .thumb .no-thumb { color:#efefef;}
.container .container-top .content-top .icon-camera { color:#ccc !important;}

/* LAYOUT */
.container { background-color:#fff;}
.container-top { background-color:#efefef; color:#333;}
.container-bottom  { background-color:#fff; color:#333; -moz-box-shadow:0 -2px 2px rgba(153,153,153,0.2); -webkit-box-shadow:0 -2px 2px rgba(153,153,153,0.2); box-shadow:0 -2px 2px rgba(153,153,153,0.2);}

/* BREADCRUMB */
.content-top .page_title { color:#333;}
.breadcrumb h2 { color:#999;}
.breadcrumb h2 a { color:#999;}
.breadcrumb h2 a:hover { color:#666;}

/* PAGINATION */
.pagination .links a { color:#999; background-color:#efefef;}
.pagination .links a:hover { background-color:#333; color:#fff;}
.pagination .links b { color:#fff; background-color:#c12222;}
.pagination .results { color:#999;}

/* FORM */
input[type="text"], input[type="password"], select, textarea { color:#666; border:1px solid #e8e8e8; background-color:#fff;}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus { color:#333; border:1px solid #cccccc;}
span.wait { color:#c12222;}
.gpu_form p i { color:#999;}
.gpu_form .help { color:#999;}
.gpu_form .required { color:#c12222;}
.gpu_form .error { color:#c12222;}
.gpu_form_options { border-top:1px solid #f5f5f5; border-bottom:1px solid #f5f5f5;}
.login-form-box .gpu_box_form .buttons .forgotten { color:#999;}
.login-form-box .gpu_box_form .buttons .forgotten:hover { color:#333;}
.new-customer-box p { color:#999;}

/* NOTIFICATION */
.notification_view { background:rgba(0,0,0,0.4);}
.notification_view .success, .notification_view .warning, .notification_view .attention, .notification_view .information, .notification_view .tranda_empty { -moz-box-shadow:0 0 3px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.2); box-shadow:0 0 3px rgba(0,0,0,0.2);}
.notification_view .close i { color:#fff;}
.success, .warning, .attention, .information, .tranda_empty { color:#ccc; background-color:#4b4b4b;}
.success a, .warning a, .attention a, .information a { color:#fff;}
.success .info_icon { color:#94BE21;}
.warning .info_icon { color:#bf0a0a;}
.attention .info_icon { color:#FFCC33;}
.information .info_icon { color:#FFCC33;}
.tranda_empty { color:#999; background-color:#fff;}
.tranda_empty .info_icon { color:#CCCCCC;}

/* OPENCART TABLE */
table.list { border-top:1px solid #DDDDDD; border-left: 1px solid #DDDDDD;}
table.list td { border-right:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD;}
table.list thead td { background-color:#EFEFEF;}
table.list thead td a, .list thead td { color:#222222;}
table.radio tr.highlight:hover td { background-color:#f5f5f5;}

/* BOTTONS */
a.button, input.button { color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.2); background-color:#999; -moz-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.1); -webkit-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.1); box-shadow:inset 0 -2px 0 rgba(0,0,0,0.1);}
a.but_yellow, input.but_yellow { background-color:#ffcc33;}
a.but_green, input.but_green { background-color:#94be21;}
a.but_black, input.but_black { background-color:#444444;}
a.but_red, input.but_red { background-color:#C12222;}
a.but_blue, input.but_blue { background-color:#1d85ce;}
a.but_brown, input.but_brown { background-color:#ad6b04;}
a.but_social, input.but_social { background-color:#3b5998;}
a.but_inavtive, input.but_inavtive { background-color:#d1d1d1 !important;}

/* HEADER */
.toph { background-color:#efefef;}
.bottomh { background-color:#333; -moz-box-shadow:0 0 6px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 6px rgba(0,0,0,0.5); box-shadow:0 0 6px rgba(0,0,0,0.5);}

/* HEADER - logo and menu */
.top-menu > ul > li > a { color:#333;}
.top-menu > ul > li:hover > a { background-color:#efefef; color:#333; -moz-box-shadow:0 -3px 0 rgba(193,34,34,1); -webkit-box-shadow:0 -3px 0 rgba(193,34,34,1); box-shadow:0 -3px 0 rgba(193,34,34,1);}
.top-menu > ul > li > div { background-color:#fff; border-top:3px solid #c12222; -moz-box-shadow:0 5px 5px rgba(0,0,0,0.2); -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.2); box-shadow:0 5px 5px rgba(0,0,0,0.2);}
.top-menu > ul > li > div ul li a { color:#333;}
.top-menu > ul > li > div ul li a i { color:#c12222;}
.top-menu > ul > li > div ul li a:hover { background-color:#f4f4f4; color:#333;}
.top-menu > ul > li > div ul li a:hover i { color:#333;}

/* HEADER - mini menu */
.jbtitle { background-color:#c12222; color:#fff;}
.jbopen { -moz-box-shadow:inset 0 -2px 2px rgba(0,0,0,0.2); -webkit-box-shadow:inset 0 -2px 2px rgba(0,0,0,0.2); box-shadow:inset 0 -2px 2px rgba(0,0,0,0.2);}
.jbtitle span { background-color:#fff; color:#c12222;}
.jbmenu .jbcontent ul li a { background-color:#fff; color:#333;}
.jbchildren { background-color:#fff; color:#c12222;}
.jbchildopen { background-color:#c12222; color:#fff;}
.jbchildrenlist { background-color:#c12222; -moz-box-shadow:2px -2px 2px rgba(0,0,0,0.2); -webkit-box-shadow:2px -2px 2px rgba(0,0,0,0.2); box-shadow:2px -2px 2px rgba(0,0,0,0.2);}
.jbmenu .jbcontent .jbchildrenlist li a { color:#666;}

/* HEADER - customer support */
.customer-support .title { color:#c12222;}
.customer-support .info { color:#333;}
.customer-support .info a { color:#333;}
.customer-support .icon i { color:#c12222;}

/* HEADER - TOP RESPONSIVE */
.top-responsive .options-responsive a { color:#333;}
.top-responsive .options-responsive b { color:#c12222;}
.top-responsive .welcome { color:#333;}
.top-responsive .welcome a { color:#c12222;}

/* HEADER - home and my account */
.shop-menu .links > li > a { color:#999;}
.shop-menu .links > li:hover > a { background-color:#f4f4f4;}

.top-shop-content { background-color:#f4f4f4; -moz-box-shadow:0 3px 3px rgba(153,153,153,0.4); -webkit-box-shadow:0 3px 3px rgba(153,153,153,0.4); box-shadow:0 3px 3px rgba(153,153,153,0.4);}
.list-top-shop li a { color:#666;}
.list-top-shop li a i { color:#999;}
.list-top-shop li a:hover i { color:#fff;}
.list-top-shop li a:hover { color:#fff; background-color:#333;}
.list-top-shop li .inactive:hover i { color:#999;}
.list-top-shop li .inactive:hover { color:#666; background-color:transparent;}

.top-shop-content .global-contact li i { color:#c12222;}
.top-shop-content .global-contact li p { color:#666;}
.top-shop-content global-contact li p a { color:#666;}
.top-shop-content .global-contact li p b { color:#999;}
.top-shop-content .global-contact .infotext { color:#999;}

.options-shop ul .title { color:#999;}

.list-options-currency li a { color:#666;}
.list-options-currency li a:hover { color:#000;}
.list-options-currency li a span i { color:#95bf22;}

.top-shop-content .bottom-panel { background-color:#e1e1e1; color:#333;}
.top-shop-content .bottom-panel .user i { color:#999;}
.top-shop-content .bottom-panel .user a { color:#999;}
.top-shop-content .bottom-panel .user a:hover { color:#666;}

.category-shop .list-top-shop > li > div { background-color:#333; -moz-box-shadow:3px 3px 3px rgba(153,153,153,0.4); -webkit-box-shadow:3px 3px 3px rgba(153,153,153,0.4); box-shadow:3px 3px 3px rgba(153,153,153,0.4);}
.category-shop .list-top-shop > li > div ul li a { color:#fff;}
.category-shop .list-top-shop > li:hover > a { color:#fff; background-color:#333;}

/* HEADER - cart */
#cart .heading { color:#999;}
#cart .heading p span { color:#ccc;}
#cart.active .heading p span { color:#333;}
#cart .heading:hover { background-color:#f4f4f4;}
#cart.active .heading { background-color:#f4f4f4;}
#cart .content { background-color:#f4f4f4; -moz-box-shadow:0 3px 3px rgba(153,153,153,0.4); -webkit-box-shadow:0 3px 3px rgba(153,153,153,0.4); box-shadow:0 3px 3px rgba(153,153,153,0.4);}
#cart .empty { color:#999;}
#cart .bottom-panel { background-color:#e1e1e1; color:#333;}
.mini-cart-total tr:last-child .pay { color:#94be21;}
.inavtive-cart-total { color:#999;}
.inavtive-cart-total tr:last-child td { color:#999;}
.inavtive-cart-total tr:last-child .pay { color:#999;}
.mini-cart-info .menu { background-color:#e3e3e3; color:#e1e1e1; border:1px solid #e3e3e3;}
.mini-cart-info .menu .quantity { background-color:#999;}
.mini-cart-info .menu .remove { background-color:#e3e3e3; color:#999;}
.mini-cart-info .product { background-color:#fff; border-top:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.mini-cart-info .product p b { color:#333;}
.mini-cart-info .product p b a { color:#333;}
.mini-cart-info .product p b a:hover { color:#c12222;}
.mini-cart-info .product .option { color:#999;}
.mini-cart-info .product .total { color:#999;}

/* HEADER - search */
.shop-search .box { background-color:#333;}
.shop-search .box input[type="text"] { background-color:#525252; border-left:1px solid #333; border-right:1px solid #333; border-top:1px solid #181818; border-bottom:1px solid #676767; color:#999;}
.shop-search .box input[type="text"]:focus { color:#ccc;}
.shop-search .box .button { background-color:#c12222;}

/* GLOBAL RATING */
.rating .star-dark { color:#666;}
.rating .star-color { color:#ffcc33;}
.rating-opac .star-dark { color:#ccc;}

/* GLOBAL MODULE */
.list-global-module .active { color:#c12222;}
.list-global-module .active:hover { color:#c12222;}
.list-global-module li a { color:#333;}
.list-global-module li a:hover { color:#c12222;}
.list-global-module li ul li a { color:#999;}
.list-global-module li ul li a:hover { color:#333;}

/* GLOBAL GRID ITEM BOX */
.grid-item .panel-content .certificate-sale i { color:#c12222;}
.grid-item .panel-content .certificate-sale strong { color:#fff; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);}
.grid-item .panel-content .rating { background-color:#333;}
.grid-item .panel-content .data-product { background-color:#333;}
.grid-item .panel-content .data-product p { color:#fff;}
.grid-item .panel-content .top { background-color:#4b4b4b; border-bottom:1px solid #585858;}
.grid-item .panel-content .top .price { color:#fff;}
.grid-item .panel-content .top .price .price-new { color:#ff3333;}
.grid-item .panel-content .top .price .price-old { color:#999;}
.grid-item .panel-content .top .price .price-tax { color:#ccc;}
.grid-item .panel-content .top h3 a { color:#fff;}
.grid-item .panel-content .middle { background-color:#333333;}
.grid-item .panel-content .middle .add { color:#666;}
.grid-item .panel-content .middle .add:hover { background-color:#4b4b4b; color:#999;}
.grid-item .panel-content .bottom { background-color:#4b4b4b; -moz-box-shadow:0 10px 0 rgba(75,75,75,0.5); -webkit-box-shadow:0 10px 0 rgba(75,75,75,0.5); box-shadow:0 10px 0 rgba(75,75,75,0.5);}
.grid-item .panel-content .bottom h5 { color:#ccc;}

/* GLOBAL GRID ITEM BOX - style hover */
.grid-item:hover .panel-content { -moz-box-shadow:0 -10px 0 rgba(193,34,34,0.5); -webkit-box-shadow:0 -10px 0 rgba(193,34,34,0.5); box-shadow:0 -10px 0 rgba(193,34,34,0.5);}
.grid-item:hover .panel-content .top { background-color:#c12222; border-color:#c12222;}
.grid-item:hover .panel-content .top h3 a { color:#fff;}
.grid-item:hover .panel-content .top .price { color:#fff;}
.grid-item:hover .panel-content .top .price .price-new { color:#fff;}
.grid-item:hover .panel-content .top .price .price-old { color:#000;}
.grid-item:hover .panel-content .top .price .price-tax { color:#000;}
.grid-item:hover .panel-content .middle .add_cart { background-color:#c12222; color:#fff;}

/* GLOBAL LIST ITEM BOX */
.list-item .panel-content .certificate-sale i { color:#c12222;}
.list-item .panel-content .certificate-sale strong { color:#fff; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);}
.list-item .panel-content .rating .star-dark { color:#999;}
.list-item .panel-content .top .price { color:#333;}
.list-item .panel-content .top .price .price-new { color:#c12222;}
.list-item .panel-content .top .price .price-old { color:#333;}
.list-item .panel-content .top .price .price-tax { color:#999;}
.list-item .panel-content .top h3 a { color:#333;}
.list-item .panel-content .top h3 a:hover { color:#c12222;}
.list-item .panel-content .middle { background-color:#f4f4f4;}
.list-item .panel-content .middle .add { color:#999;}
.list-item .panel-content .middle .add:hover { background-color:#c12222; color:#fff;}
.list-item .panel-content .bottom h5 { color:#999;}

/* GLOBAL LIST ITEM BOX - style hover */
.list-item:hover .panel-content .middle .add_cart { background-color:#c12222; color:#fff;}

/* MODULE SLIDESHOW */
.theme-tranda .nivo-directionNav a { color:#333;}
.theme-tranda .nivo-directionNav a:hover { color:#c12222;}
.theme-tranda .nivo-controlNav a i { color:#333;}
.theme-tranda .nivo-controlNav a.active i { color:#c12222;}

/* MODULE FILTER */
.module-filter .list-global-module li span i { color:#999;}
.module-filter .list-global-module li label { color:#999;}
.module-filter .list-global-module .active label { color:#333;}
.module-filter .check_icon { color:#999;}
.module-filter .active .check_icon { color:#95bf22;}

/* MODULE JCAROUSEL - jcarousel-next */
.jcarousel-skin-tranda .jcarousel-next-horizontal { color:#333;}
.jcarousel-skin-tranda .jcarousel-next-horizontal:hover,
.jcarousel-skin-tranda .jcarousel-next-horizontal:focus {
	color:#c12222;
}
.jcarousel-skin-tranda .jcarousel-next-horizontal:active { color:#c12222;}
.jcarousel-skin-tranda .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tranda .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tranda .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tranda .jcarousel-next-disabled-horizontal:active {
	color:#000;
}

/* MODULE JCAROUSEL - jcarousel-prev */
.jcarousel-skin-tranda .jcarousel-prev-horizontal { color:#333;}
.jcarousel-skin-tranda .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tranda .jcarousel-prev-horizontal:focus {
	color:#c12222;
}
.jcarousel-skin-tranda .jcarousel-prev-horizontal:active { color:#c12222;}
.jcarousel-skin-tranda .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tranda .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tranda .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tranda .jcarousel-prev-disabled-horizontal:active {
	color:#000;
}

/* MODULE LATEST */
.grid-latest .info { background-color:#c12222; color:#fff;}

/* MODULE BESTSELLERS */
.list-best h3 a { color:#333;}
.list-best h3 a:hover { color:#c12222;}
.list-best .top .trophy { color:#333;}
.list-best .top .price .price-new { color:#c12222;}
.list-best .top .price .price-old { color:#ccc;}
.list-best .bottom { background-color:#333;}
.list-best .bottom .add { background-color:#c12222; color:#fff;}

/* QUICK VIEW - FancyBox */
.quickview .certificate-new i { color:#94be21;}
.quickview .certificate-new strong { color:#fff; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);}
.quickview .right-info h3 a { color:#333;}
.quickview .right-info .price { color:#333;}
.quickview .right-info .price .price-new { color:#cc3333;}
.quickview .right-info .price .price-old { color:#999;}
.quickview .menu .left .mini_links a { color:#999;}
.quickview .menu .left .mini_links a:hover { color:#333;}
.quickview .menu .left .mini_links a:hover i { color:#999;}
.quickview .menu .right p { color:#999;}
#fancybox-loading { background-color:#333; -moz-box-shadow:0 0 3px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.2); box-shadow:0 0 3px rgba(0,0,0,0.2);}
#fancybox-loading i { color:#fff;}
#fancybox-content { -moz-box-shadow:0 0 8px rgba(0,0,0,0.4); -webkit-box-shadow:0 0 8px rgba(0,0,0,0.4); box-shadow:0 0 8px rgba(0,0,0,0.4);}
#fancybox-close i { background-color:#4b4b4b; color:#999;}
#fancybox-close i:hover { color:#ccc;}
#fancybox-left i, #fancybox-right i { background-color:#c12222; color:#fff;}
#fancybox-title-over { background-color:#4b4b4b;}

/* SITE MAP PAGE */
.sitemap-info ul { color:#666;}
.sitemap-info ul li a { color:#333;}
.sitemap-info ul li ul li a { color:#666;}

/* MANUFACTURE PAGE */
.manufacturer-list .brand-heading { background-color:#f0f0f0; color:#999;}
.manufacturer-list .brand-list li a { color:#666;}
.manufacturer-list .brand-list li a:hover { color:#333;}

/* ADMIN PANEL */
.admin-panel h2 { border-bottom:1px solid #dedede;}
.admin-panel ul li a:hover { color:#333;}

/* RETURN INFO LIST */
.return-info-list .return-list .return-content { border-top:1px solid #EEEEEE; border-bottom:1px solid #EEEEEE;}

/* ORDER HISTORY INFO */
.order-history-info .order-list .order-content { border-top:1px solid #EEEEEE; border-bottom:1px solid #EEEEEE;}
.order-history-info .order-detail { background:#EFEFEF;}

/* DOWNLOAD LIST INFO */
.download-list-info .download-list .download-content { border-top:1px solid #EEEEEE; border-bottom:1px solid #EEEEEE;}

/* ADDRESSES INFO */
.info-addresses-box { border:1px solid #dedede; background-color:#f5f5f5;}

/* CART PAGE */
.left_cart_page { background-color:#f0f0f0;}
.left_cart_page .panel_content { background-color:#fff;}
.cart-info thead td { background-color:#f0f0f0;}
.cart-info tbody td { border-bottom:1px solid #f0f0f0;}
.cart-info tbody .name small { color:#999;}
.cart-info tbody .model { color:#999;}
.cart-info tbody .model b { color:#333;}
.cart-info tbody .quantity a {color:#333;}
.cart-info tbody .quantity .quantitymenu { color:#e8e8e8;}
.cart-info tbody .quantity .quantitymenu:hover { color:#333;}
.cart-info tbody .price { color:#999;}
.cart-info tbody span.stock { color:#c12222;}
.right_cart_page .cart-total tr { color:#999;}
.right_cart_page .cart-total tr:last-child { color:#333;}
.right_cart_page .cart-total tr:last-child .right b { color:#333;}
.right_cart_page .cart-total tr:last-child td { color:#94BE21;}

/* CHECKOUT PAGE */
.checkout-heading { background-color:#f5f5f5;}
.checkout-heading a { color:#333;}
.checkout-product thead td { background-color:#f0f0f0;}
.checkout-product tbody td { border-bottom:1px solid #f0f0f0;}
.checkout-product tbody .name small { color:#999;}
.checkout-product tbody .model { color:#999;}
.checkout-product tbody .model b { color:#333;}
.checkout-product tbody .price { color:#999;}
.checkout-product tfoot td { border-bottom:1px solid #f0f0f0;}
#confirm .payment .buttons .right input.button { background-color:#94be21;}

/* PRODUCT FILTER */
.product-filter .product-compare { background-color:#fff; color:#666;}
.product-filter .product-compare i { color:#999;}
.product-filter .product-compare:hover { color:#333;}
.product-filter .product-compare:hover i { color:#c12222;}
.product-filter .limit { background-color:#fff;}
.product-filter .sort { background-color:#fff;}
.product-filter .display { background-color:#fff;}
.product-filter .display a { color:#666;}
.product-filter .display a:hover { color:#333;}
.product-filter .display a i { color:#999;}
.product-filter .display .active i { color:#c12222;}
.product-filter .display a:hover i { color:#c12222;}

/* ALL PRODUCT PAGE */
.gallery-product .thumb .zoom { background-color:#c12222; color:#fff;}
.gallery-product .thumb a { text-decoration:none; color:#fff;}
.gallery-product .images a { color:#fff;}
.product-info .price { border-bottom:3px solid #ededed;}
.product-info .price .price-old { color:#ccc;}
.product-info .price .price-new { color:#c12222;}
.product-info .price .price-tax { color:#ccc;}
.product-info .price .reward { color:#666;}
.product-info .price .discount { color:#666;}
.product-info .price .certificate-sale i { color:#c12222;}
.product-info .price .certificate-sale strong { color:#fff; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);}
.product-info .description li { color:#999;}
.product-info .description li i { color:#666;}
.product-info .description li i + i { color:#333;}
.product-info .description li a { color:#999;}
.product-info .description li a:hover { color:#c12222;}
.product-info .share { border-top:3px solid #ededed;}
.product-info .options { border-top:3px solid #ededed;}
.product-info .options .error { color:#c12222;}
.bottom_product_panel { background-color:#333; border-top:3px solid #585858;}
.bottom_product_panel .required { color:#ff6666;}
.bottom_product_panel .actions .qty i { color:#999;}
.bottom_product_panel .actions .qty .box { border-bottom:1px solid #535353; border-top:1px solid #181818; background-color:#3f3f3f;}
.bottom_product_panel .actions .qty input { border:1px solid #3f3f3f; background-color:#3f3f3f; color:#999;}
.bottom_product_panel .actions .qty input:focus { background-color:#3f3f3f; color:#ccc;}
.bottom_product_panel .info .add { color:#666;}
.bottom_product_panel .info .add:hover { background-color:#585858; color:#ccc;}
.bottom_product_panel .rating { background-color:#585858;}
.bottom_product_panel .rating .star-dark { color:#999;}
.bottom_product_panel .minimum { background-color:#585858; border-top:1px solid #747474; -moz-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.2); box-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);}
.bottom_product_panel .minimum p { color:#ccc;}
.tab-specification table tr { border-bottom:1px solid #ededed;}
.tab-specification table .title-attr { background-color:#ededed;}
.tab-specification table .left-attr { border-right:1px solid #ededed;}
.tab-specification table .right-attr { color:#666;}
.tab-reviews table .user { color:#666;}
.tab-reviews table .user i { color:#999;}
.tab-reviews .add_review { background-color:#f4f4f4; border:4px solid #ededed;}

/* COMPARE PAGE */
.compare-page .compare-info thead td, .compare-page .compare-info thead tr td:first-child { background-color:#f0f0f0;}
.compare-page .compare-info td {border-bottom:1px solid #f0f0f0;}
.compare-page .compare-info .price-old { color:#ccc;}
.compare-page .compare-info .price-new { color:#c12222;}
.compare-page .compare-info .actions a { color:#666;}
.compare-page .compare-info .actions a:hover { color:#c12222;}

/* FOOTER */
.footer { background-color:#fff; border-bottom:4px solid #c12222;}
.footer-top { background-color:#efefef;}
.footer-top .gpc .left { background-color:#4b4b4b;}
.footer-top .gpc .right { background-color:#333;}
.footer-top .gpc .right .free { color:#ccc;}
.footer-top .gpc .right .free i { color:#efefef;}
.footer-top .gpc .right .social-icons { color:#efefef;}
.footer-top .gpc .right .social-icons:hover { background-color:#4b4b4b; color:#fff;}
.footer-middle { background-color:#4b4b4b;}
.footer-middle .global-contact { background-color:#333;}
.footer-middle .global-contact li i { color:#efefef;}
.footer-middle .global-contact li p { color:#ccc;}
.footer-middle .global-contact li p a { color:#ccc;}
.footer-middle .global-contact li p b { color:#c12222;}
.footer-middle .global-contact .infotext { color:#666;}
.footer-middle .menu .list .title { color:#efefef;}
.footer-middle .menu .list li a { color:#ccc;}
.footer-middle .menu .list li a:hover { color:#fff;}
.footer-bottom { background-color:#efefef;}
.footer-bottom .powered { color:#666;}
.footer-bottom .nav-up { background:#c12222; color:#fff;}
.footer-bottom .nav-up .second_icon { color:#c12222;}